@import "../common/Sidebar.css";
.logout {
    width: 100%;
    border-radius:12px;
    background: transparent;
    font: inherit;
    color: inherit;
    padding:18px;
    display: flex;
    align-items: center;
    gap: 22px;
    transition: 1s;
    cursor: pointer;
    text-align: left;
}

.logout:hover {
    cursor: pointer;
}

